body {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
display: block;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
    outline: 2px solid #2c2c2c;

}

button {
    border-radius: 30px;
    background-color: #BBF330;
    min-width: 98px;
    height: 32px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5; 
    
}

/* Header section*/
.header-section {
    background-color: fff;
}

.header-container {
    
    width: 1280px;
    height: 72px;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}

.header-logo {
    margin: 10px auto 10px 0;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: #BBF330;
}

.header-list {
    display: flex;
    gap: 28px;
    margin: 20px 0;
    padding: 8px 0;
}

.header-link {
    color: var(--Black, #2C2C2C);
}

.header-btn {
    display: block;
    margin: 20px 0 20px 30px;
}

/* Hero section*/
.hero-section {
    background-color: var(--White, #FEFEFE);
    display: flex;
    justify-content: space-between;
} 

.hero-div {
    display: block;
    width: 511px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px; 
    margin-top: 159px;
}

.hero-text {
    line-height: 24px;
    margin-top: 28px;
}

.hero-btn {
    display: block;
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;
}

/* Offerings section*/

.offerings-container {
    background-color: #FFE550;
    padding: 113px 51px 124px 16px;
}

.offerings-div {
    display: flex;
    justify-content: space-around;
}
.offerings-pic {
    margin-left: 100px;
    margin-right: 160px;
}

.right-side-div {
   margin-top: 0;
    
} 


.offerings-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    margin-top: 83px;
    width: 526.167px;
}
.offerings-text {
    display: block;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 96px;
    width: 500px;
}
.offerings-list-two {
    display: flex;
    gap: 67px;
}

.offerings-subtitle {
    display: flex;
    flex-wrap: wrap;

}
.offerings-list-text {
    width: 253px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.offerings-btn {
    display: block;
    margin-top: 32px;
    border: 2px solid var(--Dark-green, #7EB101);
    background: #FFF;
    width: 103px;
    height: 42px;
}

/* Favorites section*/

.favorite-container {
    padding: 120px 0 101px 32px;
}

.favorites-div {
    margin: 0;
    padding: 0;
}

.favorites-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.favorites-text {
    text-align: center;
    padding: 0;
    margin: 20px auto 40px auto;
    
}
.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0;
    padding: 0;
}
.favorites-item {
    width: calc((100% - 64px) / 3);
    margin: 0;
    padding: 0;
}
.favorites-img {
    margin: 0;
    padding: 0;
}

/* Customers section*/
.customers-container {
    background-color: #FFE550;
    padding: 0;
}

.customers-div {
    width: 1141px;
    margin: 0;
    padding: 140px 0px 126px 32px;
}
.customers-title {
    width: 501px;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

}
.customers-text {
    margin: 0;
    margin-bottom: 32px;
}

.customers-list {
    display: flex;
    gap: 139px;
    margin: 0;
    padding: 0;
}

.customers-item {
    padding: 59px 14px 19px 14px;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
}

.customers-list-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 45px;
}
.customers-list-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    margin-left: 78px;
}

.customers-text-small {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-left: 78px;
}

/* Subscribe section*/

.subscribe-container {
    background: var(--White, #FEFEFE);
    padding: 0;
}
.subscribe-container {
    padding: 176px 15px 201px 18px;
}

.subscribes-list {
    display: flex;
    align-items: center;
}

.subscribe-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    margin: 0;
    margin-bottom: 20px;
}
.subscribe-text {
    width: 532px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px;
}

.subscribes-list-small {
    display: flex;
    align-items: center;
    gap: 32px;
}

.subscribe-text-small {
    width: 395px;
    line-height: 24px;
    padding: 12px 57px 12px 12px;
    border: 1px solid  #FFE550;
    border-radius: 30px;
}

.subscribe-btn {
    line-height: 19.5px;
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;
}

.subscribe-pic {
}

/* Footer section*/

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
   
    margin: 0;
}

.footer-left-side {
    display: block;
    align-content: space-between;

}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    margin-bottom: 129px;
}

.footer-logo {
    margin-right: 143px;
}

.footer-nav-list {
    display: flex;
    gap: 28px;
}
.nav-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.footer-list-down {
    display: flex;
    gap: 20px;
    
}

.link-down {
    color: var(--Dark-green, #7EB101);
    font-size: 12px;
    text-decoration-line: underline;
}

.footer-right-side {
    display: block;
    margin: 0;
    width: 398px;
    
}

.subscribe-text {
    margin: 0;
    margin-bottom: 12px;
}

.subscribe-form {
    padding: 12px 61.5px 12px 12px;
    align-items: center;
    border-radius: 30px;
    border: 0.854px solid #FFE550;
    background: #FEFEFE;
    width: 279px;
    margin: 0;
    margin-bottom: 12px;
}

.form-btn-div {
    display: flex;
    gap: 13px;
    margin: 0;
    padding: 0;
}

.subscribe-btn {
    width: 103px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: 0.854px solid #7EB101;
    background: #FFF;
}

.subscribe-text-down {
    font-size: 12px;
   
}

.footer-privacy-span {
    color: var(--Dark-green, #7EB101);
    text-decoration-line: underline;
}

.subscribe-text-last {
    font-size: 12px;
    margin: 0;
    margin-top: 80px;
    margin-left: 224px;
}