body {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.button {
    border-radius: 30px;
    background-color: #BBF330;
    min-width: 98px;
    height: 32px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5; 
}
/* Common styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    outline: 2px solid #7EB101;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        padding: 0 32px;
        }
    }
    @media screen and (min-width: 1280px) {
        .container {
            max-width: 1248px;
            
        }
    }

/* Header section*/
.header-section {
    background-color: fff;  
}

.header-container {
    width: 1280px;
    height: 72px;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}

.header-logo {
    margin: 10px auto 10px 0;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: #BBF330;
}

.header-list {
    display: none;
}
@media screen and (min-width: 768px) {
.header-list {
    display: flex;
    gap: 28px;
    margin: 20px 0;
    padding: 8px 0;
}
}

.header-link {
    color: var(--Black, #2C2C2C);
}

.header-menu-btn {
    width: 28px;
    height: 28px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin-top: 22px;
}

.header-btn {
    display: none;
}

@media screen and (min-width: 768px) { 
.header-menu-btn {
    display: none;
}

.header-btn {
    display: block;
    margin: 20px 0 20px 30px;
}  
.header-btn:hover,
.header-btn:focus {
    background-color: #FFE450;
}
}

/* Hero section*/
.hero-section {
    background-color: var(--White, #FEFEFE);
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 45px;
} 

.hero-div {
    width: 511px;
    margin: auto 0;
}


.hero-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 28px;
}

.hero-text {
    font-size: 14px;
    line-height: 1.43; 
    margin-bottom: 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FFE450;
}

.hero-btn {
    display: block;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;

    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.95;
}

.hero-img-div {
    display: none;
}
@media screen and (min-width: 768px) { 
    .hero-section {
        padding-top: 51px;
        padding-bottom: 84px;
       
        position: relative;
    } 
    .hero-title {
        width: 537px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2; 
        
        margin-bottom: 28px;
    }
    .hero-text {
        width: 336px;
        font-size: 16px;
        line-height: 1.5; 
        margin-bottom: 49px;
    }
.hero-img-div {
    position: absolute;
    top: 140px;
    right: 40px;
    display: flex;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    border: 14px solid var(--Yellow-main, #FFE550);
    background-color: transparent; 
}
.hero-pic {
    margin-left: 10px;
}
.hero-img-div:hover {
    border-color: #BBF330;
}}

@media screen and (min-width: 1280px) {
.hero-section {
    padding-top: 159px;
    padding-bottom: 150px;
} 
.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 28px;
}
.hero-img-div { 
    position: absolute;
    top: 14px;
    right: 30px;
   
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 26px solid var(--Yellow-main, #FFE550);
    background-color: transparent;
}
.hero-pic {
    margin-left: 0;
}
}

/* Offerings section*/

.offerings-container {
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
}
.offerings-ellips {
    position: absolute;
    top: 240px;
    left: 32px;
}
.offerings-img-div { 
    width: 202px;
    height: 256px;
    margin-bottom: 60px;
}   
.offerings-pic {
    position: absolute;
    top: 30px;
    left: 59px;
}
.offerings-title {
    font-size: 28px;
    font-weight: 700;
    width: 280px;
    margin-bottom: 28px;
}
.offerings-text {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    width: 280px;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
.offerings-container {    
    position: relative;
}
.offerings-ellips {
    position: absolute;
    top: 320px;
    left: 58px;
}
.offerings-img-div { 
    width: 357px;
    height: 357px;
}   
.offerings-pic {
    position: absolute;
    top: 37px;
    left: 54px;
}
.offerings-title {
    font-size: 42px;
    font-weight: 700;
    width: 526px;
    margin-bottom: 20px;
}
.offerings-text {
    display: block;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 500px;
    margin-bottom: 25px;
}
.offerings-list-two {
    display: flex;
    margin-bottom: 28px;
} 
} 

@media screen and (min-width: 1280px) { 
.offerings-container {
    background-color: #FFE550;
    padding: 167px 16px 124px 16px;

    display: flex;
    gap: 90px;
    position: relative;
    margin: 0 auto;
}
.offerings-ellips {
    position: absolute;
    top: 575px;
    left: 171px;
}
.offerings-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 550px;
    border: 5px solid rgba(255, 255, 255, 0.50);
   
    background-color: transparent;

}
.offerings-img-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 502px;
    height: 502px;
    border-radius: 502px;
    background-color: #FEFEFE;
    margin-bottom: 8px;
    
}   
.offerings-pic {
    position: absolute;
    top: 113px;
    left: 100px;
}

.offerings-title {
    line-height: 50.4px;
    margin-bottom: 20px;
}
.offerings-text {
    margin-bottom: 40px;
}
}

.offerings-list-one {
    margin-bottom: 24px;
}

.offerings-list-two {
    margin-bottom: 28px;
}

.offerings-item {
    display: block;
    position: relative;
    width: 280px;
    padding-top: 56px;
}

.offerings-icon-div:hover {
    background-color:#BBF330;
    stroke: #FFE450;
} 

.offerings-icon-div {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    background-color: #FEFEFE;
    border-radius: 50%;
}

.offerings-subtitle {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 16px;
}
.offerings-list-text {
    width: 253px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
}
@media screen and (min-width: 1280px)  {
    .offerings-list-two {
        display: flex;
        gap: 67px;
        margin-bottom: 40px;
    }
    
    .offerings-item {
        display: block;
        position: relative;
        width: 253px;
        height: 181px;
        padding-top: 56px;
    }
    
    .offerings-icon-div:hover {
        background-color:#BBF330;
        stroke: #FFE450;
    } 
    
    .offerings-icon-div {
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 48px;
        height: 48px;
        background-color: #FEFEFE;
        border-radius: 50%;
    }
    
    .offerings-subtitle {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4; /* 25.2px */
        margin-bottom: 16px;
    }
    .offerings-list-text {
        width: 253px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 32px;
    }
}

.offerings-btn:hover,
.offerings-btn:focus {
    background-color: #BBF330;
}

.offerings-btn {
    display: block;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #7EB101;
    background-color: #FFF;
    width: 106px;
    height: 40px;
}

.btn-read-more-div {
 display: flex;
 align-items: center;
 gap: 24px;
}

.icon-div {
   display: flex;
   align-items: center;

}

.read-more-text:hover {
    color: #BBF330;
} 
.read-more-text {
    font-size: 13.667px;
    line-height: 1.5; 
}
.read-more-icon {

}
@media screen and (min-width: 1280px) {
    .icon-div {
   display: none;
    }
}

/* Favorites section*/

.favorite-container {
    padding: auto;
}

.favorites-div {
    margin: 0;
    padding: 66px 0 60px 0;
}

.favorites-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.favorites-text {
    text-align: center;
    padding: 0;
    margin-bottom: 60px;
    font-size: 14px;
}

.fav-list-div {  
}
.fav-item-div:hover {
    background-color: #FFE550;
    border-color: #BBF330;
}

.fav-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
    height: 282px;
    border-radius: 140px;
    border: 11px solid #FFE550;
    background-color: transparent;
}
.favorites-item {
    margin-bottom: 20px;
}

.favorites-img {
    margin: 0;
    padding: 0;
    width: 224px;
    height: 224px;
    border-radius: 111.373px;
}
.favorites-item:nth-child(1n+4) {
    display: none;
}


@media screen and (min-width: 768px) {
.favorites-div {
    padding: 94px 0 80px 0;
}
.favorites-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}
.favorites-text {
    margin-bottom: 60px;
    font-size: 16px;
}
.favorites-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fav-item-div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 336px;
    height: 338px;

    border-radius: 167.166px;
    border: 14px solid #FFE550;
    background-color: transparent;
}
.favorites-item:nth-child(1n+4) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorites-item {
    width: calc((100% - 32px) / 2);  
    margin-bottom: 0;  
}
.favorites-item {
    
}
.favorites-img {
    width: 269px;
    height: 269px;
    border-radius: 133.648px;
}
}

@media screen and (min-width: 1280px) {
.favorite-container {
    padding: 0;
}
.favorites-div {
    padding: 120px 0 101px 0;
}
.favorites-text {
    margin-bottom: 40px;
}


.fav-item-div { 
    width: 395px;
    height: 397px;
    border-radius: 197.5px;
    border: 16px solid #FFE550;
    background-color: transparent;
}
.favorites-item {
    width: calc((100% - 64px) / 3);   
}
.favorites-img {
    width: 315px;
    height: 315px;
    border-radius: 157.5px;
   
}
}


/* Customers section*/
.customers-container { 
    padding: auto;
}
.customers-div {
    width: 280px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
}
.customers-title {
    width: 280px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.customers-text {
    font-size: 14px;
    margin: 0;
    margin-bottom: 32px;
}

.customers-list-text {
    font-style: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}
.stars-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.customers-item {
    position: relative;
    padding: 52px 8px 12px 8px;
}

.item-down-div {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 160px;
    height: 53px;
    margin-bottom: 20px;
    position: relative;
    padding: 4px 0 4px 64px;
}

.item-down-img {
    position: absolute;
    top: 0;
    left: 2px;
    align-self: center;
}

@media screen and (min-width: 768px) {
.customers-div {
    width: 768px;
    padding-top: 60px;
    
}
.customers-title {
    width: 501px;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.customers-text {
    margin: 0;
    margin-bottom: 32px;
   
    }
.customers-list {
    display: flex;
    gap: 32px;
}
.customers-item {
    width: 336px; 
}
    
}

@media screen and (min-width: 1280px) {

.customers-container {
    background-color: #FFE550;
    padding: auto;
}

.customers-div {
    width: 1141px;
    margin: 0;
    padding: 140px 0px 126px 32px;
}

.customers-text {
    margin-bottom: 32px;
}

.customers-list {
    gap: 139px;
}
.customers-list-text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 59px;
}
.stars-icon {
    position: absolute;
    top: 14px;
    left: 14px;
}

.customers-item {
    width: 501px; 
}
.customers-item {
    position: relative;
    padding: 0 14px;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
}
.item-down-div {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 160px;
    height: 53px;
    margin-top: 41px;
    margin-bottom: 14px;
    position: relative;
}

.item-down-img {
    position: absolute;
    top: 0;
    left: 2px;
    align-self: center;
}
}

/* Subscribe section*/

.subscribe-container {
    padding: 17px 20px 60px 20px;
}
.subscribe-picture-small {
    width: 280px;
    height: 78px;
}

.subscribe-title {
    width: 280px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 20px;
}
.subscribe-text {
    width: 280px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 40px;
}
.subscribe-form-small {
    margin-bottom: 20px;
}
.input-form-small::placeholder {
    color: #505050;
    font-size: 12px;
    line-height: 1.5; /* 18px */
}
.input-form-small {
    width: 279px;
    height: 42px;
    padding: 12px 57px 12px 12px;

    line-height: 1.5;
    
    border: 1px solid  #FFE550;
    border-radius: 30px;
    background-color: transparent;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #FFE550;
}
.subscribe-button {
    line-height: 19.5px;
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;
    border: none;
    background-color: #BBF330;
}

.subscribe-banana-desk {
    display: none;
}

@media screen and (min-width: 768px) {
    .subscribe-container {
        padding: 10px 32px 50px 32px;
    }
    .subscribes-list {
        display: flex;
        align-items: center;
    }
    .subscribe-picture-small {
        width: 281px;
        height: 136px;
        margin-left: 455px;
    }
    .subscribe-title {
        width: 520px;
        font-size: 42px;
        margin-bottom: 20px;
    }
    .subscribe-text {
        width: 520px;
        font-size: 16px;
        margin: 0;
        margin-bottom: 24px;
    }
    .subscribes-div-small {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .subscribe-form-small {
        margin-bottom: 0;
    }
    .input-form-small {
        width: 395px;
        height: 42px;
        padding: 12px 57px 12px 12px;
    
        line-height: 1.5;
        
        border: 1px solid  #FFE550;
        border-radius: 30px;
        background-color: transparent;
    }
}

@media screen and (min-width: 1280px) {
    .subscribe-container {
        padding: 176px 15px 201px 18px;
    }
    .subscribe-text {
        width: 532px;
    }
    .subscribe-banana-desk {
        display: block;
    }
    .subscribe-picture-small {
        display: none;
    }
}

/* Footer section */
.footer-container {
    position: relative;
    padding: 64px 0 60px;
    width: 320px;
  
}
.footer-apple-img {
    position: absolute;
    top: 132px;
    left: 0;
}
.footer-orange-img {
    position: absolute;
    top: 0;
    right: 0;
}
.footer-fruits-img {
    position: absolute;
    bottom: 0;
    left: 43px;
}
.background-div-desk {
    display: none;
}
.background-div-tabl {
    display: none;
}
.footer-div-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.footer-left-side {
    display: flex;
    justify-content: center;

}
.nav-link-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer-logo {
    position: absolute;
    top: 60px;
    left: 20px;
}
.footer-nav{
    margin-bottom: 40px;
}
.nav-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.link-down {
    color: var(--Dark-green, #7EB101);
    font-size: 12px;
    text-decoration-line: underline;
}

/* footer form */
.footer-form-div {
    margin-bottom: 60px;
}
.subscribe-form {
    display: block;
    align-items: center;
    width: 279px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.subscribe-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.subscribe-form-input {
    width: 100%;
    height: 42px;
    padding: 12px 61.5px 12px 12px;
    align-items: center; 
    border-radius: 30px;
    border: 0.854px solid var(--Yellow-main, #FFE550);
    background: var(--White, #FEFEFE);
}
.subscribe-form-input::placeholder {
    color:  #505050;
}


.subscribe-btn {
    width: 103px;
    height: 42px;
    margin: 0;
    padding: 11px 22px;
    border: 0.854px solid #7EB101;
    background-color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 24px;
}
.subscribe-text-down {
    font-size: 12px;
}

.footer-privacy-span {
    color: var(--Dark-green, #7EB101);
    text-decoration-line: underline;
}
.footer-down-div {
    
}
.footer-list-down {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.subscribe-text-last {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 118px 32px;
        margin: 0 auto;
        width: 768px;
    }
    .footer-div-wrapper {
        display: block;
        flex-wrap: wrap;
     }
    .footer-logo {
        position: absolute;
        top: 100px;
        left: 33px;
    }
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 216px;
        margin-bottom: 57px;
    }
    .footer-left-side {
        width: 319px;
    }
    .footer-nav-list {
    display: flex;
    gap: 28px;
    }
    .background-div-mob {
        display: none;
    }
    .background-div-tabl {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 34px;
    }
    .background-div-desk {
        display: none;
    }
    .footer-form-div {
        margin-bottom: 100px;
        padding: 12px;
    }
    .form-btn-wrapper {
        display: flex;
        align-items: baseline;
        gap: 13px;
    }
   
    .subscribe-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }
    .subscribe-form-input {
        width: 100%;
        height: 42px;
        padding: 12px 61.5px 12px 12px;
        align-items: center; 
        border-radius: 30px;
        border: 0.854px solid var(--Yellow-main, #FFE550);
        background: var(--White, #FEFEFE);
    }
    .footer-down-div {
       display: flex;
       align-items: baseline;
       justify-content: space-between;
    }
    .footer-list-down {
        display: flex;
        gap: 20px;
    }
    .subscribe-text-last {
        margin-left: 234px;
        margin-top: 0;
    }   
    .subscribe-btn:hover,
    .subscribe-btn:focus {
        background-color: #FFE450;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 100px 0 100px;
        
        width: 1280px;
         
    }
    .footer-div-wrapper {
        display: flex;
        justify-content: space-between;;
    }
    .footer-left-side {
        display: flex;
    }
    .footer-nav {
        display: flex;
        align-items: baseline;
        justify-content: start;
        padding-top: 18px;
        margin-left: 230px;
        margin-bottom: 57px;
    }

    .footer-form-div {
        margin-bottom: 0;
        padding: 0;
    }
    .background-div-desk {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .background-div-tabl {
        display: none;
    }
    .footer-down-div {
        margin-left: 20px;
    }
    .subscribe-text-last {
    font-size: 12px;
    margin: 0;
    margin-top: 80px;
    margin-left: 224px;
}
    .subscribe-text-last {
    margin-left: 740px;
    }
}





/* modal */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(94, 99, 99, 0.70);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility:visible;
  pointer-events: initial;
}

.modal {
    width: 458px;
    border-radius: 30px;
    background: #FFE550;

    /* Arrow shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 32px;
}


.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    line-height: 0;

    height: 32px;
    width: 32px;

    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    cursor: pointer;
    border: transparent;
    border-radius: 50%;
}
.close-btn-icon{}

.modal-form {
}
.modal-title {
    color: var(--Black, #2C2C2C);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2; /* 28.8px */
    margin-bottom: 20px;
}
.modal-field {
    margin-bottom: 24px;
}
.modal-lable {
    display: block;
    margin-bottom: 2px;
    margin-left: 12px;

    color: var(--Black, #2C2C2C);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4; /* 22.4px */
}
.modal-input {
    width: 100%;
    height: 48px;
    outline: transparent;

    padding-left: 12px;

    border-radius: 30px;
    border: 1px solid rgba(18, 18, 18, 0.12);
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.modal-input:focus{
    border-color: #7EB101;
}
.modal-send-btn {
    display: block;
    min-width: 106px;
    height: 40px;

    color: var(--Black, #2C2C2C);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5; /* 19.5px */
    cursor: pointer;
    margin: 0 auto;

    border-radius: 30px;
    border: 2px solid var(--Dark-green, #7EB101);
    background: #FFF;
}

.modal-send-btn:hover,
.modal-send-btn:focus{
    background: var(--Button-green, #BBF330);
}