body {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.button {
    border-radius: 30px;
    background-color: #BBF330;
    min-width: 98px;
    height: 32px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5; 
}
/* Common styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    outline: 2px solid #7EB101;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        padding: 0 32px;
        }
    }
    @media screen and (min-width: 1280px) {
        .container {
            max-width: 1248px;
            
        }
    }

/* Header section*/
.header-section {
    background-color: fff;  
}

.header-container {
    width: 1280px;
    height: 72px;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}

.header-logo {
    margin: 10px auto 10px 0;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: #BBF330;
}

.header-list {
    display: none;
}
@media screen and (min-width: 768px) {
.header-list {
    display: flex;
    gap: 28px;
    margin: 20px 0;
    padding: 8px 0;
}
}

.header-link {
    color: var(--Black, #2C2C2C);
}

.header-menu-btn {
    width: 28px;
    height: 28px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin-top: 22px;
}

.header-btn {
    display: none;
}

@media screen and (min-width: 768px) { 
.header-menu-btn {
    display: none;
}

.header-btn {
    display: block;
    margin: 20px 0 20px 30px;
}  
.header-btn:hover,
.header-btn:focus {
    background-color: #FFE450;
}
}

/* Hero section*/
.hero-section {
    background-color: var(--White, #FEFEFE);
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 45px;
} 

.hero-div {
    width: 511px;
    margin: auto 0;
}


.hero-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 28px;
}

.hero-text {
    font-size: 14px;
    line-height: 1.43; 
    margin-bottom: 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FFE450;
}

.hero-btn {
    display: block;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;

    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.95;
}

.hero-img-div {
    display: none;
}
@media screen and (min-width: 768px) { 
    .hero-section {
        padding-top: 51px;
        padding-bottom: 84px;
       
        position: relative;
    } 
    .hero-title {
        width: 537px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2; 
        
        margin-bottom: 28px;
    }
    .hero-text {
        width: 336px;
        font-size: 16px;
        line-height: 1.5; 
        margin-bottom: 49px;
    }
.hero-img-div {
    position: absolute;
    top: 140px;
    right: 40px;
    display: flex;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    border: 14px solid var(--Yellow-main, #FFE550);
    background-color: transparent; 
}
.hero-pic {
    margin-left: 10px;
}
.hero-img-div:hover {
    border-color: #BBF330;
}}

@media screen and (min-width: 1280px) {
.hero-section {
    padding-top: 159px;
    padding-bottom: 150px;
} 
.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 28px;
}
.hero-img-div { 
    position: absolute;
    top: 14px;
    right: 30px;
   
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 26px solid var(--Yellow-main, #FFE550);
    background-color: transparent;
}
.hero-pic {
    margin-left: 0;
}
}

/* Offerings section*/

.offerings-container {
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
}
.offerings-ellips {
    position: absolute;
    top: 240px;
    left: 32px;
}
.offerings-img-div { 
    width: 202px;
    height: 256px;
    margin-bottom: 60px;
}   
.offerings-pic {
    position: absolute;
    top: 30px;
    left: 59px;
}
.offerings-title {
    font-size: 28px;
    font-weight: 700;
    width: 280px;
    margin-bottom: 28px;
}
.offerings-text {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    width: 280px;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
.offerings-container {    
    position: relative;
}
.offerings-ellips {
    position: absolute;
    top: 320px;
    left: 58px;
}
.offerings-img-div { 
    width: 357px;
    height: 357px;
}   
.offerings-pic {
    position: absolute;
    top: 37px;
    left: 54px;
}
.offerings-title {
    font-size: 42px;
    font-weight: 700;
    width: 526px;
    margin-bottom: 20px;
}
.offerings-text {
    display: block;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 500px;
    margin-bottom: 25px;
}
} 

@media screen and (min-width: 1280px) { 
.offerings-container {
    background-color: #FFE550;
    padding-top: 167px;
    padding-bottom: 124px;
   
    display: flex;
    gap: 90px;
    position: relative;
}
.offerings-ellips {
    position: absolute;
    top: 575px;
    left: 171px;
}
.offerings-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 550px;
    border: 5px solid rgba(255, 255, 255, 0.50);
   
    background-color: transparent;

}
.offerings-img-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 502px;
    height: 502px;
    border-radius: 502px;
    background-color: #FEFEFE;
    margin-bottom: 8px;
    
}   
.offerings-pic {
    position: absolute;
    top: 113px;
    left: 100px;
}

.offerings-title {
    line-height: 50.4px;
    margin-bottom: 20px;
}
.offerings-text {
    margin-bottom: 40px;
}
}


.offerings-list-one {
    margin-bottom: 24px;
}

.offerings-list-two {
    margin-bottom: 28px;
}

.offerings-item {
    display: block;
    position: relative;
    width: 280px;
    padding-top: 56px;
}

.offerings-icon-div:hover {
    background-color:#BBF330;
    stroke: #FFE450;
} 

.offerings-icon-div {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    background-color: #FEFEFE;
    border-radius: 50%;
}

.offerings-subtitle {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 16px;
}
.offerings-list-text {
    width: 253px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
}
@media screen and (min-width: 1280px)  {
    .offerings-list-two {
        display: flex;
        gap: 67px;
        margin-bottom: 40px;
    }
    
    .offerings-item {
        display: block;
        position: relative;
        width: 253px;
        height: 181px;
        padding-top: 56px;
    }
    
    .offerings-icon-div:hover {
        background-color:#BBF330;
        stroke: #FFE450;
    } 
    
    .offerings-icon-div {
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 48px;
        height: 48px;
        background-color: #FEFEFE;
        border-radius: 50%;
    }
    
    .offerings-subtitle {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4; /* 25.2px */
        margin-bottom: 16px;
    }
    .offerings-list-text {
        width: 253px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 32px;
    }
}

.offerings-btn:hover,
.offerings-btn:focus {
    background-color: #BBF330;
}

.offerings-btn {
    display: block;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #7EB101;
    background-color: #FFF;
    width: 106px;
    height: 40px;
}

.btn-read-more-div {
 display: flex;
 align-items: center;
 gap: 24px;
}

.icon-div {
   display: flex;
   align-items: center;

}

.read-more-text:hover {
    color: #BBF330;
} 
.read-more-text {
    font-size: 13.667px;
    line-height: 1.5; 
}
.read-more-icon {

}
@media screen and (min-width: 1280px) {
    .icon-div {
   display: none;
    }
}

/* Favorites section*/

.favorite-container {
    padding: auto;
}

.favorites-div {
    margin: 0;
    padding: 66px 0 60px 0;
}

.favorites-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.favorites-text {
    text-align: center;
    padding: 0;
    margin-bottom: 60px;
    font-size: 14px;
}

.fav-list-div {  
}
.fav-item-div:hover {
    background-color: #FFE550;
    border-color: #BBF330;
}

.fav-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
    height: 282px;
    border-radius: 140px;
    border: 11px solid #FFE550;
    background-color: transparent;
}

.favorites-img {
    margin: 0;
    padding: 0;
}

.fav-item-hidden {
    display: none;
}


@media screen and (min-width: 768px) {
.favorites-div {
    margin: 0;
    padding: 94px 0 80px 0;
}
.favorites-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}
.favorites-text {
    margin-bottom: 60px;
    font-size: 16px;
}
.favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.favorites-item {
    width: calc((100% - 32px) / 2);    
}
.fav-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 336px;
    height: 338px;

    border-radius: 167.166px;
    border: 14px solid #FFE550;
    background-color: transparent;
}
.fav-item-hidden {
    display: flex;
}
}

@media screen and (min-width: 1280px) {
.favorites-div {
    margin: 0;
    padding: 120px 0 101px 0;
}
.favorites-text {
    margin-bottom: 40px;
}
.favorites-item {
    width: calc((100% - 64px) / 3);   
}
.fav-item-div { 
    width: 395px;
    height: 397px;
    border-radius: 197.5px;
    border: 16px solid #FFE550;
    background-color: transparent;
}
}


/* Customers section*/
.customers-container {
    background-color: #FFE550;
    padding: auto;
}

.customers-div {
    width: 1141px;
    margin: 0;
    padding: 140px 0px 126px 32px;
}
.customers-title {
    width: 501px;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

}
.customers-text {
    margin: 0;
    margin-bottom: 32px;
}

.customers-list {
    display: flex;
    gap: 139px;
}

.stars-icon {
    position: absolute;
    top: 14px;
    left: 14px;
}

.customers-item {
    position: relative;
    padding: 0 14px;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
}

.customers-list-text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 59px;
    
}

.item-down-div {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 160px;
    height: 53px;
    margin-top: 41px;
    margin-bottom: 14px;
    position: relative;
}

.item-down-img {
    position: absolute;
    top: 0;
    left: 2px;
    align-self: center;
}
